.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  pointer-events: none;
}

.head{
  height: 20vh;
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App{
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
li {
margin: 35px 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
